
/*.title {
	text-align: center;
}

.content li {
	list-style:none;
	text-align:center;
	margin-top:2em;
}

.content li input {
	display: block;
	margin:auto;
	width:20%;
	height:1.5em;
	border-radius:px;
}


@media only screen and (max-width:780px) {
	.content li input {
		width:65%;
	}
}*/

/*-----------na ftiaksw menu mesa sto arxeio gia kalyteri anagnwsi ----------*/

.wrapper {
	text-align: center;
	margin:auto;
	padding:5em;
}

body {
	background:black;
}

.content {
	background:white;
	padding: 3em 0 3em 0;
	position:relative;
	overflow:hidden;
	width:60em;
	height:50em;
	margin:0 auto;
}

.title {
	margin:8em 0 0 2em;
	padding-top:0.2em;
	color:white;
}

form {
	
	margin:0 auto;
	width:25em;
	font-size:1.5em;
	color:white;
}

ul {
	list-style:none;
}

fieldset {
	border-radius: 5px;
	border-color:white;
}

/*.content:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 200px 200px 0;
	background:black;
	border-color: #fff #fff #b3b3b3 #b3b3b3;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display:block;
}


.content:before {
	content:"";
	top:-50px;
	left:0;
	position:relative;
	background:black;
	border-width:0 25em 200px 25em;
	border-style:solid;
	border-color: #658E15 #fff;
}

.form {

}*/

.content:before {
	content:"";
	top:0;
	left:0;
	position:absolute;
	border-width:0 30em 10em 30em;
	border-style:solid;
	border-color: grey black;
	border-bottom-right-radius: 5px;
}

.form {
	background:rgba(	30,144,255, 0.9);
	width:50em;
	height:44em;
	margin:auto;
	border-radius:5px;
}

.username-password, .firstname-lastname, .birth-email {
	display:flex;
}

input {
	margin:0 0 1.5em 0;
	height:2em;
	width:15em;
	border-radius:5px;
	border:1px solid silver;
	padding:0.2em 1em 0.2em 1em;

}

input[type="date"] {
	height:2em;
	margin-left:-2em;
}

input[type="email"] {
	margin-left:-2em;
}

select {
	width:15em;
	height:2em;
	margin:0 0 1.5em 0;
}

.optional {
	margin-top:1em;
	display:flex;
}



.required {
	display:flex;
}

.confirmation {
	margin-top:3em;
}

.confirmation button {
	margin-top:4em
	width:15em;
	height:2em;
}

button {
	margin-top:4em;
	height:2em;
	width:15em;
}

input:focus::placeholder {
	color:transparent;
	transition:0.3s;
}

.form {
	transform:translateY(-100px);
	transition: 2s;
}